@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins', sans-serif;
}

.poppins{
  font-family: 'Poppins', sans-serif;
}

.mulish{
  font-family: 'Mulish', sans-serif;
}

.content-container{
  max-width: 75rem;
}

/* .hero-image{
  background-image: url('../../public/image/hero-picture2.jpg');
  width: 500px;
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: cover;
} */

.hero-image-container{
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 408px;
  height: 408px;
  overflow: hidden;
}

.hero-image-container::before{
  content: '';
  position: absolute;
  width: 350px;
  height: 160%;
  background: #000;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.hero-image{
  position: absolute;
  background-image: url('../../public/image/hero-picture4.jpg');
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: cover;
}

.about-image{
  background-image: url('../../public/image/profile-picture.webp');
  background-repeat: no-repeat;
  background-attachment: cover;
  background-position: center;
  background-size: cover;
}

.blob{
  width: 500px;
  height: 500px;
}